@import "reset.css";
@import "root.css";

/*
————————
 Основа
————————
*/

body{
  width: 1920px;
  background-color: var(--gray);
}
header{
  height: 1040px;
  background-image: url(img/image/bg/bg.png);
  background-repeat: no-repeat;
  background-position: absolute;
  background-position-y: bottom;
  position: relative;
  border-bottom: 2px solid white;
}

/*
————————————————————
 Навигационное меню
————————————————————
*/

nav {
  width: 1920px;
  margin: 0 auto;
  border-bottom: 2px solid white;
}
nav:before {
  content: "";
  display: block;
  height: 80px;
  width: 100%;
  background: var(--gray);
  position: absolute;
  left: 0;
  z-index: -1;
}

ul {
  margin-left: 120px;
  margin-left: 120px;
  padding: 0;
  list-style: none;
  height: 80px;
  
}
ul li {
  float: left;
}
ul li a{
  font-family: var(--amatic);
  font-size: var(--h5-laptop);
  color: #ffffff;
  display: block;
  height: 80px;
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 80px;
  padding-left: 77px;
  padding-right: 77px;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
ul li a img{
  display: inline;
  margin-right: 10px;
  margin-top: 15px;
}

form input{
  font-family: var(--amatic);
  font-size: var(--h5-laptop);
  width: 500px;
  background: var(--gray);
  height: 80px;
  margin-left: 15px;
  color: #ffffff;
  box-shadow: none;
  border-radius: 5px;
  outline: none;
}
form button{
  cursor: pointer;
  background: none;
  margin-right: 15px;
  line-height: 70px;
}

/*
—————————————————
 Слоган и кнопка
—————————————————
*/

h1{
  margin-top: 350px;
  margin-bottom: 5px;
  margin-left: 120px;
  color: white;
  font-family: var(--amatic);
  font-size: var(--h2-laptop);
  font-weight: 700;
}
h2{
  margin-bottom: 20px;
  margin-left: 120px;
  color: white;
  font-family: var(--comfortaa);
  font-size: var(--h6-laptop);
  font-weight: 400;
}

input{
  margin-left: 120px;
  width: 320px;
  height: 90px;
  padding: 5px;
  border-radius: var(--btn-brd-radius);
  box-shadow: var(--btn-shadow);
  font-weight: 700;
  font-family: var(--amatic);
  font-size: var(--h4-laptop);
  background-color: var(--green);
  cursor: pointer;
}
